<div class="container d-flex justify-content-center align-items-center min-vh-90">
  <div class="card shadow p-4" style="width: 100%; max-width: 800px; border-radius: 1rem;">
    <div class="bg-dark text-white rounded p-2">
      <h3 class="text-center">{{ employee.first_name }} {{ employee.last_name }}</h3>
      <h6 class="text-center">Details</h6>
    </div>
    <hr>
    <table cellpadding="8" cellspacing="0">
      <tr>
        <td><strong>Email</strong></td>
        <td>: {{ employee.email }}</td>
      </tr>
      <tr>
        <td><strong>Gender</strong></td>
        <td>: {{ employee.gender }}</td>
      </tr>
      <tr>
        <td><strong>Designation</strong></td>
        <td>: {{ employee.designation }}</td>
      </tr>
      <tr>
        <td><strong>Salary</strong></td>
        <td>: ${{ employee.salary }}</td>
      </tr>
      <tr>
        <td><strong>Date of Joining</strong></td>
        <td>: {{ employee.date_of_joining | date: 'dd MMM yyyy' }}</td>
      </tr>
      <tr>
        <td><strong>Department</strong></td>
        <td>: {{ employee.department }}</td>
      </tr>
    </table>
  </div>
</div>